body{
    font-family: 'Poppins', sans-serif;
}

.master{
    background-size: cover;
    min-height: 50vh;
    position: relative;
    color: white;
}
/* .color-overly{
    position: relative;
    width: 100%;
    height: 100%;
} */
@media  (max-width:768px) {
    .master{
        min-height: 30vh;
    }
}

.footer-end{
    height: 401px;
    width: 1920px;
}
.footer-link li{
    list-style: none;
}
.footer-link li a{
    text-decoration: none;
    color: white;
    padding-bottom: 50px;
}
